*{
	margin: 0;
	padding: 0;
}
body{
	background: url(bg3.jpg);
	font-family: 'Acme', sans-serif;
}

.main{
	width: 600px;
	height: 500px;
	background: url(bg1.jpg);
	overflow: hidden;
	position: relative;
	border: 2px solid #9B9D92;
	border-radius: 10px;
	margin-top:80px;
	margin-left: 330px;
	animation-name: backbg;
	animation-duration: 5s;
	animation-iteration-count: infinite;

	/*top: 50%;*/
	/*left: 50%;*/
	/*transform: translate(-50%, -50%);*/
	
}
.hello{
	width: 100px;
	height: 50px;
	border-radius:50%;
	background: #2090F6;
	text-align: center;
	color: white;
	padding-top: 20px;
	/*border-radius: 5px;*/
	margin-top: 10px;
	margin-left: 10px;
	position: absolute;
}
.hello:hover{
	background: #0C4B60;
	color: #EDF2F4;
}
.date{
	background: #6F8B74;
	width: 150px;
	height: 70px;
	color: white;
	top: 10px;
	right: 10px;
	border-radius: 5px;
	position: absolute;
	padding: 10px;
}
.date h4{
	padding-bottom: 5px;
}
.date:hover{
	background: #46494C;
	color: #6DC1B3;

}
.welcome{
	width: 200px;
	height: 200px;
	background: #8F2041;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*transform: scale(0.2);*/
	position: absolute;
	border-radius: 50%;
	animation-name: mainbg;
	animation-duration: 5s;
	animation-iteration-count: infinite;



}
.welcome:hover{
	animation-name: colorchange;
	animation-duration: 10s;
	/*animation-iteration-count: infinite;*/
	/*transform: scale(0.8);*/
}

/*.welcome img{
	width: 100%;

	width: 200px;
	height: 200px;
	position: absolute;

}*/
.welcome h1 {
    color: white;
    /*font-family: sans-serif;*/
    font-size: 26px;
    padding-left: 63px;
    padding-top: 61px;
    /*animation-name: colorchange;*/
}
.welcome h2 {
    color: #2090F6;
    padding-left: 24px;
    padding-top: 2px;
}
.copyright{
	/*background: green;*/
	width: 120px;
	height: 30px;
	color: aqua;
	left: 5px;
	bottom: 0px;
	/*border-radius: 5px;*/
	position: absolute;
	/*padding: 15px;*/
}



.arrow img{
	width: 100%;
}

.arrow{
	background: red;
	color: white;
	width: 50px;
	height: 50px;
	right: 10px;
	bottom: 10px;
	position: absolute;
	border-radius: 50%;
	animation-name: colorchange;
	animation-duration: 10s;
	animation-iteration-count: infinite;

}

@keyframes colorchange{
	0%{
		background: coral;
		
		/*transform: scale(0.1);*/
	}
	20%{
		background: yellow;
		

		/*transform: scale(0.2);*/
	}
	40%{
		background: green;
		
		/*transform: scale(0.3);*/
	}
	60%{
		background: blue;

		/*transform: scale(0.4);*/

	}
	80%{
		background: aqua;
		/*transform: scale(0.5);*/
	}
	90%{
		background: red;
		/*transform: scale(0.6);*/
	}
	100%{
		background: skyblue;
		/*transform: scale(0.9);*/
	}
}
@keyframes mainbg{
	10%{
		background: url(b2.jpg);
	}
	20%{
		background: url(b3.jpg);
	}
	30%{
		background: url(b4.png);
	}
	40%{
		background: url(b5.png);
	}
	50%{
		background: url(b6.png);
	}
	60%{
		background: url(b7.jpg);
	}
	70%{
		background: url(b8.png);
	}
	80%{
		background: url(b9.jpg);
	}
	90%{
		background: url(b10.jpg);
	}
	100%{
		background: url(b2.jpg);
	}

}

@keyframes backbg{
	10%{
		background: url(m1.jpg);

	}
	
	20%{
		background: url(m2.jpg);
	}
	
	40%{
		background: url(m3.png);
	}
	
	60%{
		background: url(m4.jpg);
	}
	
	80%{
		background: url(m5.jpg);
	}
	
	100%{
		background: url(m6.jpg);
	}

}